<?xml version="1.0"?>
<config>
    <modules>
        <Test_AddDeliveryAddr>
            <version>1.0.0</version>
            <title>Delivery Time</title>
        </Test_AddDeliveryAddr>
    </modules>
    <global>
        <resources>
            <testdeliverytime_setup>
                <setup>
                    <module>Test_AddDeliveryAttr</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </testdeliverytime_setup>
            <testdeliverytime_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </testdeliverytime_write>
        </resources>
    </global>
    <adminhtml>
        <fieldsets>
            <delivery_time>
                <create>1</create>
                <update>1</update>
            </delivery_time>
        </fieldsets>
    </adminhtml>
</config>